body{
    background-size: cover;
    background-position: center;
}
.heading{
    width: 100%;
    font-size: 23px;
}
.note{
    font-size: 18px;
    color: black;
}
#status,#baby_status{
    font-size: 18px;

}
canvas{
    border-radius: 10px;
    box-shadow: 5px 5px 5px skyblue;
}